.landing-background {
  background: url('/images/housemates-landing-cover.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  /*width: cover;*/
}
.landing-background-2 {
  background: url('/images/tutorial-background.png') no-repeat center center fixed;
  background-size: cover;
  height: 550px;
  /*width: cover;*/
}